*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
   display: flex;
   flex-direction: column;
}

.activated{
    font-weight: 800;
}
.banner{
    width: 100%;
    height: 330px;
    background-image: url("../assets/img/design1_image1.jpg");
    background-position: center;
    background-size: cover;
    background-position-y: 20%;
}

.mdhl_title{
    display: inline;
    text-align: left;
    font-size: 50px;
    background-color: #ffffff5d;
}
.logo{
    position: relative;
}
.logo img{
        position: absolute;
        right: 10%;
        top: 28%;
        z-index: 10;
        background-color: #c4c1c192;
        border-radius: 10%;
}

.img1{
    display: none;
}

main{
   height: 100%;
   background: linear-gradient(45deg, transparent, #efd31a26);
}

.section_div{
    display: flex;
    flex-direction: row;
}

.content1{
   width: 20%;
   height: auto;
   background-color: #efd31a34;
   display: flex;
}

.navbar{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: 35px;
    margin-top: 30px;
    padding-bottom: 100%;
    
   
}
.navbar > a{
    margin: 15px;
    line-height: 10px;
    text-decoration: none;
    color: #000;
}

.section_title{
    background-color: #000;
    color: #fff;
    padding: 3px;
    text-align: center;
    text-wrap: nowrap;
    text-indent: 100px;
}

#rules_title{
    padding: 3px 275px;
}

h3{
    text-indent: initial;
    margin: 10px;
}
#dates{
    margin: 30px 125px;
}
#dates, #info{
   text-indent: 35px;
}

#info{
    font-size:1em;
    text-indent: inherit;
    margin: 45px 185px;
}
 #info > p{
    padding-bottom: 20px;
 }

 .content{
    width: 70%;
 }

 .about_info{
    margin: 45px 30px;
 }

 .about_info > p{
    text-indent: 35px;
 }

 .about_content{
    display:flex;
    align-items: stretch;
    justify-content: flex-start;
    height: 100%;

 }

 .rules{
    margin-top: 50px;
 }

 .rules_section{
    width: 80%;
 }
 dl{
    margin-left: 40px;
 }

 .text{
    text-align: center;
    margin: 20px;
    font-weight: 100;
 }

 .list_title{
    text-align: left;
    margin: 25px 0px 15px 0px ;
    font-weight: 600;
 }

 .detail{
    text-indent: 45px;
    padding-bottom: 30px;
 }

 h5{
    display: inline-block;
 }
 .latin_list{
    list-style-type: lower-latin;
 }

 .clause{
    margin-bottom: 20px;
 }
 
 .unorder_list{
   list-style-type: circle;
   text-indent: 0px;
   margin-left: 80px;
 }


 table{
    border-collapse: collapse;
    table-layout: auto;
    width: 100%;
    margin: 15px;
   
 }
 caption{
    text-align: left;
    text-decoration: underline;
    font: caption;
    margin: 25px;
 }

 thead{
    text-align: center;
 }
 
  td{
    padding: 10px;
    text-align: center;
    border: solid 0.5px #c4c1c192;
  }

  .additional_info{
    margin: 40px 100px;
    width: 100%;
 }

 .additional_info :nth-child(3){
    margin: 15px 0px 25px 0px;
 }

 .additional_info > span{
    margin-right: 30px;
 }

 .sched_title{
   text-align: center;
   text-wrap: nowrap;
 }

 .location_icon{
   float: right;
   cursor: pointer;
   transition: background-color 0.5s;
 }
.loc_title{
   background: #000;
   color: #fff;
   padding: 3px;
   display: inline;
   text-align: center;

}

 .locations{
   display: flex;
   flex-direction: column;
   justify-items: center;
   gap: 45px;
 }

 .locations > div{
   display: flex;
   flex-direction: column;
   margin: 15px;
   align-items: center;
   justify-content: space-evenly;
   gap: 10px;
 }
 

 .loc_cap{
   caption-side: top;
   display: inline-block;
 }
 
 iframe{
   display: inline-block;
   width: 400px;
   border:1px solid #c4c1c192 ;
 }
   
 .registration_form{
   width: 80%;
   margin: 75px auto;
   display: flex;
   flex-direction: column;
 }

 fieldset{
   margin: 20px;
   display: flex;
   flex-direction: row;
   padding: 15px;
 }

 fieldset.address {
   flex-direction: column;
   align-items: stretch;
}

 legend {
   background-color: #000;
   color: #f9da27;
   padding: 3px 6px;
   margin-bottom: 5px;
 }

 label{
   margin: 0px 12px;
   text-wrap:nowrap;
 }

 .grade{
   margin: 0px 10px;
}
 

 select{
   margin-bottom: 10px;
 }

 .agreement{
   display: flex;
   flex-direction: column;
   margin: 15px;
 }

 .signature{
   display: inline-block;
   margin: 15px;
 }
 
 .send_btn {
   display: inline;
   width: auto;
   padding: 7px;
   align-self: center;
   color: #f9da27;
   background-color: #000;
   border-radius: 3px;
   border: 1px solid #f9da27;
   
}
.send_btn:hover{
   color: #000;
   background-color: #f9da27;
   border-color: #000;
}

footer{
   background-color: #100f0f;
   color: #fff;
   padding: 10px;
   text-align: center;
   margin-top: auto;
}

/* Media Queries */
@media only screen and  (max-width :576px){
   header{
      height: 115px;
   }
   .banner{
      height:115px ;
   }
   .mdhl_title{
      font-size: larger;
   }
   main{
      display: flex;
      flex-direction: column;
   }
   .section_div{
      flex-direction: column;
   }
   .content1{
      width: auto;
      height: fit-content;
      justify-content: space-around;
   }
  .navbar{
   height: min-content;
   padding-bottom: 0px;
   align-items: stretch;
   justify-content: center;
   margin: 0px;
   }
   .logo{
      display: inline-block;
      position: relative;
   }

   .logo img{
      position: relative;
      width: 12%;
      left: 86%;
   }
   .section_title{
      text-wrap: wrap;
      text-align: center;
      margin: 0px;
      width: auto;
      align-self: stretch;
      text-indent: 0px;
      font-size: medium;
   }

   #dates{
      width: auto;
      margin: 0px;
      padding: 20px;
   }

   .about_content{
      flex-direction: column;
   }

   .content{
      width: auto;
   }

   #info{
      width: auto;
      margin: 42px;
   }

   .rules_section{
     align-self: center;
   }

   .text, .rules{
      width: auto;
      text-align: justify;
      margin: 10px;
   }

   .sched_title{
      margin: 10px;
      text-align: center;
   }
   table{
      width: 95%;
      font-size: smaller;
      margin: 0px;
   }
   .additional_info{
      margin: 5px;
   }
   iframe{
      width: 200px;
   }

   .registration_form{
      margin: 0px;
      align-items: center;
      width: auto;
   }

   fieldset{
      flex-direction: column;
      width: 95%;
   }

   .form_field{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 95%;
   }

   label{
      margin: 0px 4px;
   }

   #positions > label{
      margin: 0px 14px;
   }

   .signature{
      display: flex;
      flex-direction: column;
   }

  }
  @media only screen and (min-width: 577px) and (max-width:948px)
  {
   .logo img{
      width: 13%;
      left: 84%;
   }

   .content{
      width: auto  ;
   }

   .content1{
      width: auto;
   }
   .navbar{
      margin: 1px;
      text-wrap:nowrap
   }

   #dates, #info{
      width: auto;
      margin: 20px 10px;
   }
   .rules_section{
      margin-top: 45px;
   }

   .additional_info{
      margin: 10px;
   }
   .registration_form{
      margin: 65px 0px;
      width: 95%;
   }

   fieldset{
      display:flex;
      flex-direction: column;
   }
   .form_field{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 95%;
   }

   .agreement{
      font-size: smaller;
      text-wrap: wrap;
      margin: 0px;
      width:70%;
   }

   .agreement p{
      text-wrap:wrap
   }


   
   .signature{
      display: flex;
      
   }
  }

